nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 4vh;
    margin-right: 2vw;
    margin-bottom: 4vh;
}

.navLinks {
    font-family: "Quicksand", sans-serif;
    color: #141414;
    text-decoration: none;
    width: 15vh;
    text-align: center;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
}

.navLinks:hover {
    font-family: "Quicksand", sans-serif;
    color: #141414;
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
}

#homeImageLink1 {
    float: left;
    width: 50%;
    background-color: black;
}

#homeImageLink2 {
    float: right;
    width: 50%;
    background-color: black;   
}
#homeImageLink3 {
    float: left;
    width: 50%;
    background-color: black;
}
#homeImageLink4 {
    float: right;
    width: 50%;
    background-color: black;
}
.homeImageLinks:hover {
    opacity: 0.35;
}
.homeImageLinks{

}
.homeImageHoverTitle {
    position: absolute;

}




#homeImageLink11 {
    float: left;
    background-color: black;
    width: 50%;
}

#homeImageLink22 {
    float: right;
    background-color: black;   
    width: 50%;
}
#div1 {
    float: left;
    background-color: black;
    width: 50%;
}

#div2 {
    float: right;
    background-color: black;
    width: 50%;   
}

.flex {
    display: flex;
    justify-content: center;
}

.practice {
    display: flex;

}