body {
    margin: 0px;
    height: auto;
    position: relative;
    min-height: 100vh;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    margin-bottom: 3vh;
    height: 12vh;
    align-items: flex-end;
    margin-left: 40px;
    margin-right: 40px;
}

#logo {
    flex-grow: 1;
    width: 300px;
}

.navLinks {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: #141414;
    text-align: center;
    background-color: transparent;
    width: 14vh;
    margin-bottom: 3px;
}

.navLinks:hover {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    color: #5386E4;
}

.navLinksDiv {
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
}

.imageLinkContainer {
    height: 100vh;
}

.rows {
    display: flex;
    flex-direction: row;
}

#homeImageLink1 {
    width: 100%;
    aspect-ratio: 9/5;
    background-image: url("img/pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeImageLink2 {
    width: 100%;
    aspect-ratio: 9/5;
    background-image: url("img/pic2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeImageLink3 {
    width: 100%;
    aspect-ratio: 9/5;
    background-image: url("img/pic3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeImageLink4 {
    width: 100%;
    aspect-ratio: 9/5;
    background-image: url("img/pic4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


.homeImageHoverTitle {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: #141414;
    text-decoration: none;
    font-size: 1.7em;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.aboutContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

#headshot {
    width: 35vw;
    height: auto;
    object-fit: contain;
    padding-right: 40px;
}

.aboutText {
    font-family: "Quicksand", sans-serif;
    color: #141414;
    text-decoration: none;
    font-size: 16px;
    align-items: flex-start;
    width: 700px;
    margin-top: 0px;
}

p {
    margin-top: 0px;
}

.titleHeader {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: #141414;
    font-weight: 400;
    margin-bottom: 45px;
    margin-top: 25px;
    width: 100vw;
}

.amazonPageLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#amazonAplus {
    width: 800px;
}

#amazonAlt {
    width: 600px;
    padding-top: 30px;
}

#amazonAplusText {
    position: fixed;
    z-index: 3;
    top: 40vh;
    right: 0;
    width: 30vw;
    height: auto;
    font-family: "Quicksand", sans-serif;
    color: #141414;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    padding: 15px 50px 9px 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -5px 5px 15px rgba(117, 65, 65, 0.2);
}

#amazonAltText {
    position: fixed;
    z-index: 3;
    top: 40vh;
    left: 0;
    width: 30vw;
    height: auto;
    font-family: "Quicksand", sans-serif;
    color: #141414;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    padding: 15px 50px 9px 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -5px 5px 15px rgba(117, 65, 65, 0.2);
    display: none;
}

footer {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: #141414;
    position: relative;
    height: 15vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footerElement {
    margin-right: 40px;
    margin-left: 40px;
}

footer a {
    color: #141414;
}

footer a:hover {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    color: #141414;
    text-decoration: none;
    color: #5386E4;
}




@media screen and (max-width: 860px) {

    .rows {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
        margin-top: 8vh;
    }

    .navLinks {
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }

    .navLinksDiv {
        margin-right: 15px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        height: 25vh;
    }

    .footerElement {
        margin-right: 40px;
        margin-top: 5px;
    }

    .aboutContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutText {
        width: 60vw;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 25px;
    }

    #headshot {
        width: 60vw;
        height: auto;
        object-fit: contain;
        padding-right: 0px;
    }
}